@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin imgSetUp($height, $top, $left) {
    position: absolute;
    height: $height;
    top: $top;
    left: $left;
    transform: translate(-50%, -50%);
}